mat-card{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
mat-card-title{
    text-align: center;
    background: #2C2F33;
    color: white;
    padding: 5px;
}

img{
    max-height: 200px;
    max-width: 200px;
}

button {
    display: block;
    width: 30%;
    margin: auto;
    min-width: 200px;
}

.accordion{
    width: 400px;
    min-width: 400px;
    margin: auto;
}