mat-card{
    margin-top: 10px;
}
mat-card-title{
    text-align: center;
}

img{
    max-height: 300px;
    max-width: 300px;
}

button {
    width: 30%;
    margin: auto;
    min-width: 200px;
}

.accordion{
    width: 400px;
    min-width: 400px;
}