<mat-card>
    <mat-card-title> Sign up to join the community ! </mat-card-title>

    <div class="form">
        <p>This will only take a few seconds</p>
        <form class="" action="index.html" method="post">
            <p>
                <mat-form-field >
                    <mat-label>Firstname</mat-label>
                    <input matInput required placeholder="ex: John">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field >
                    <mat-label>Lastname</mat-label>
                    <input matInput required placeholder="ex: Doe">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input matInput required placeholder="ex: john.doe@gmail.com">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field >
                    <mat-label>Phone</mat-label>
                    <input matInput required placeholder="ex: 06060606">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field >
                    <mat-label>Address</mat-label>
                    <input matInput required placeholder="ex: 4309 Hollywood Blvd">
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</mat-card>
