<mat-card>
    <form class="" action="index.html" method="post">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="ex: John">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="ex: Doe">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="ex: john.doe@gmail.com">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="ex: 06060606">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="ex: 4309 Hollywood Blvd">
            </mat-form-field>
        </p>
    </form>
</mat-card>
