<mat-card>
    <mat-card-title> Please log in to begin swapping around! </mat-card-title>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                name="email"
                ngModel
                type="email"
                placeholder="It looks like john.doe@gmail.com"
                #emailInput="ngModel"
                required
                email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                type="password"
                name="pwd"
                ngModel
                matInput
                placeholder="Only you know how to fill this"
                #pwd="ngModel"
                required>
            <mat-error *ngIf="pwd.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
    <p> You don't own an account ? You have to <a [routerLink]="['/signup']" class="btn btn-link">register</a> first.</p>
</mat-card>
