<mat-toolbar color="warn">
    <mat-toolbar-row #toolbarRow>
        <p>SwapApp <mat-icon>cached</mat-icon> </p>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <a mat-button routerLink="/search"> <mat-icon>search</mat-icon> Research</a>

        <!-- Si l'utilisateur est déconnecté -->
        <a 
            *ngIf="!userIsAuthenticated" 
            mat-button 
            routerLink="/login"> <mat-icon>account_circle</mat-icon> Login </a>
        <a 
            *ngIf="!userIsAuthenticated" 
            mat-button 
            routerLink="/signup"> <mat-icon>account_circle</mat-icon> Sign Up </a>

        <!-- Si l'utilisateur est connecté -->
        <button *ngIf="userIsAuthenticated" mat-button (click) = "onLogout()"> Logout </button>
    </mat-toolbar-row>
</mat-toolbar>
