<mat-toolbar color="warn">
    <mat-toolbar-row #toolbarRow>
        <a mat-button routerLink="/"><p>SwapApp <mat-icon>cached</mat-icon> </p></a>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <a mat-button routerLink="/search"> <mat-icon>search</mat-icon> Research</a>

        <!-- Si l'utilisateur est déconnecté -->
        <a
            *ngIf="!userIsAuthenticated"
            mat-button
            routerLink="/login"> <mat-icon>account_circle</mat-icon> Login </a>
        <a
            *ngIf="!userIsAuthenticated"
            mat-button
            routerLink="/signup"> Sign Up </a>

        <!-- Si l'utilisateur est connecté -->
        <a
            *ngIf="userIsAuthenticated"
            mat-button
            routerLink="/account"> <mat-icon>account_circle</mat-icon> {{ username }} </a>
        <a
            *ngIf="userIsAuthenticated"
            mat-button
            routerLink="/propose"> Propose </a>
        <button *ngIf="userIsAuthenticated" mat-button (click) = "onLogout()"> <mat-icon>exit_to_app</mat-icon> Logout </button>
    </mat-toolbar-row>
</mat-toolbar>
