
<mat-card>
  <mat-card-title> Research </mat-card-title>
  <form (submit)="onSubmit(researchForm)" #researchForm="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>Find what you need !</mat-label>
        <input
            matInput
            type="text"
            id="research"
            name="research"
            ngModel
            placeholder="Keyword1, Keyword2, Keyword3..."
            />
    </mat-form-field>

    <div id="options">
      <mat-radio-group required name="radio" [ngModel]="selectedRadio">
        <mat-radio-button value="1"> Property </mat-radio-button>
        <br><br>
        <mat-radio-button value="2"> Service </mat-radio-button>
      </mat-radio-group>

      <mat-form-field id="date">
        <input
          matInput
          [min]="today"
          [matDatepicker]="picker"
          name="dateChoice"
          ngModel
          placeholder="Choose a date (optionnal)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <br><br>
    <button mat-raised-button color="primary" type="submit">Find</button>
    <br>
  </form>
</mat-card>
