<mat-card>
    <form *ngIf="!isLoggedIn" (submit)="onSubmit(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input 
                matInput
                type="text"
                id="login" 
                ngModel
                required 
                name="login"
                placeholder="Email"
                #login="ngModel"
                />
            <mat-error *ngIf="pwd.invalid">Please enter an Email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput
                type="password" 
                id="pwd" 
                ngModel
                required 
                name="pwd"
                placeholder="Password" 
                #pwd="ngModel"/>
            <mat-error *ngIf="pwd.invalid">Please enter a Password.</mat-error>
        </mat-form-field>
        
        <button mat-raised-button type="submit">Submit</button>
    </form>
</mat-card>
<div *ngIf="isLoggedIn">
    {{login}}
    <br><br>
    <button mat-raised-button (click)="logout()"> Log out </button>
</div>
